#lock env file from fetch
<Files ".env">
    Order Allow,Deny
    Deny from all
</Files>

#routing
<IfModule mod_rewrite.c>
    RewriteEngine On

    #https redirect
	# RewriteCond %{HTTPS} off
	# RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>
