/** charset utf-8 */
@charset "utf-8";

/** import normalization styles */
@import "normalize.scss";

/** every element should have box-sizing: border-box; */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/** remove the default padding and margin from html and body element */
html,
body {
    margin: 0;
    padding: 0;
}

/** using postcss custom-media */
@media screen and (--xl-viewport) {

    html,
    body {
        font-size: 1.6rem;
    }
}
